@font-face {
    src: url('./Prestige-Signature-Script.ttf');
    font-family: "Prestige Signature Script";
}

@font-face {
    src: url('./RecordaScript.ttf');
    font-family: "RecordaScript";
}

h1 {
    font-family: "Prestige Signature Script";
}
@media only screen and (max-width: 600px) {
 h1 {
     font-size: 33px;
     margin-top: 6px;
 }
}

.title {
    font-family: "RecordaScript";
    /* font-family: "Prestige Signature Script"; */
}