.MuiAppBar-colorPrimary {
    color: black !important;
    background-color: #EFEEEE !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

.MuiAppBar-positionStatic {
    position: fixed !important;
}

.navButtons {
    justify-content: end;
}

.MuiAppBar-root {
    top: 0 !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

h1 {
    /* font-family: 'Satisfy', sans-serif; */
    font-family: "Prestige Signature Script";
    padding-left: 10px;
    font-weight: 100;
    font-size: 67px;
    position: absolute;
    display: flex;
    margin-right: 71%;
    margin-top: -6px;
}

.nav_divider {
    border-right: solid 1px;
    height: 25px;
}